.manage-patient-container {
    .m-p-title {
        text-transform: uppercase;
        font-weight   : 600;
        font-size     : 20px;
        text-align    : center;
        padding       : 20px 0;
    }

    .manage-patient-body {
        padding: 0 20px;

        .table-manage-patient {
            padding: 10px 10px;

            table,
            th,
            td {
                border         : 1px solid black;
                border-collapse: collapse;

            }

            th,
            td {
                padding   : 5px;
                text-align: center;

                .btn-secondary {
                    margin-left: 40px;
                }
            }
        }
    }
}