.container {
    height          : 90%;
    background-color: aquamarine;
}

.verify-booking {
    text-align    : center;
    text-transform: uppercase;
    color         : red;
    padding-top   : 100px;
    font-size     : 60px;
    font-family   : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}